@model ConTransactionsDModelView
@{
    ViewData["Title"] = "Exportar Registros";
}
<div class="box box-solid box-shadow-load">   </div>
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Transaction</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Exportar</li>
            </ol>
        </nav>
    </div>
</div>
<div class="card shadow-sm radius-10 border-0 mb-3">
    <div class="card-header pt-3 pb-2 bg-transparent">
        <div class="d-sm-flex align-items-center">
            <div class="row">
                <div class="col-5">
                    <label for="txt_year" class="form-label"><strong>Año</strong></label>
                    <div class="input-group mb-3">
                        <select class="form-select" name="cbo_year">
                            <option value="">Elegir una opción</option>
                            @foreach (var item in Model.ListaYears)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-5">
                    <label for="txt_period" class="form-label"><strong>Periodo</strong></label>
                    <div class="input-group mb-3">
                        <select class="form-select" name="cbo_period">
                            <option value="">Elegir una opción</option>
                        </select>
                    </div>
                </div>
                <div class="col-2 mt-4">
                    <div class="input-group mt-1">
                        <button class="btn btn-success btn_buscar" type="button">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="ms-auto">
                <form id="Entidadform" class="row" method="POST" asp-action="ExportExcel" asp-controller="Procesos" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="ListaConTransactionsD" value="" />
                    <div class="col-2 mt-4">
                        <div class="input-group mt-1">
                            <button type="submit" class="btn btn-success">Exportar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="gvtable" class="table-responsive">
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {
            CargarGrilla([]);
        });

        $(".btn_exportar").click(function () {
            var year = $("select[name='cbo_year'] :selected").val();
            var period = $("select[name='cbo_period'] :selected").val();
            var ListaConTransactionsD = $('#gvtable').dxDataGrid('instance').getDataSource()._store._array;
            //var modelo = { "ListaConTransactionsD": table };
            //var entidad = $("#Entidadform").serialize();
            ////entidad['ListaConTransactionsD'] = table;
            //var entidad = $("#Entidadform").serializeArray();

            //entidad = entidad.concat([
            //    { name: "ListaConTransactionsD", value: table }
            //]);
            //console.log(entidad);
            //$.post("@Url.Action("ExportExcel", "Procesos")", $.param(modelo, false));
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportExcel", "Procesos")",
                dataType: "JSON",
                //contentType: 'application/json; charset=utf-8',
                data: {
                    ListaConTransactionsD: JSON.stringify(ListaConTransactionsD)
                },
                beforeSend: function() {
                    //$("#gvtable").showLoadPanel();
                    //$("#gvtable").showLoadPanel();
                },
                error: function(data) {
                    //console.log(data);
                },
                success: function(data) {
                    //console.log(data);
                },
                complete: function (result) {
                    console.log(result);
                    //if (result.responseJSON != null) {
                    //    var data = result.responseJSON;
                    //    var registro = data.listado;
                    //    CargarGrilla(registro)
                    //}

                    //$('#gvtable').hiddenLoadPanel();

                    //$("#gvtable").hiddenLoadPanel();
                }
            })
        });

        $(".btn_buscar").click(function() {

            var year = $("select[name='cbo_year'] :selected").val();
            var period = $("select[name='cbo_period'] :selected").val();

            if (year > 0 && period > 0) {
                consultar_transactions_d(year, period);
            }
        });

        $("select[name='cbo_year']").change(function() {
            var year = $(this).val();
            consultar_period_by_year(year);
        })

        function consultar_transactions_d(year, period) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ConsultaRegistroFormateExportar", "Consulta")",
                dataType: "JSON",
                data: {
                    year: year,
                    period: period
                },
                beforeSend: function() {
                    $("#gvtable").showLoadPanel();
                    $(".btn_buscar").showLoadingButton();
                    //$("#gvtable").showLoadPanel();
                },
                error: function(data) {
                    //console.log(data);
                },
                success: function(data) {
                    //console.log(data);
                },
                complete: function (result) {

                    if (result.responseJSON != null) {
                        var data = result.responseJSON;
                        var registro = data.listado;
                        CargarGrilla(registro)
                    }

                    var ListaConTransactionsD = $('#gvtable').dxDataGrid('instance').getDataSource()._store._array;
                    $("input[name='ListaConTransactionsD']").val(JSON.stringify(ListaConTransactionsD));
                    //$('#gvtable').hiddenLoadPanel();

                    $("#gvtable").hiddenLoadPanel();
                    $(".btn_buscar").hiddenLoadingButton();
                }
            })
        }

        function CargarGrilla(data) {
            $("#gvtable").dxDataGrid({
                dataSource: data,
                // columnHidingEnabled: true,
                columnsAutoWidth: false,
                allowColumnResizing: false,
                showBorders: true,
                columnChooser: {
                    enabled: true,
                    mode: "select" // or "dragAndDrop"
                },
                headerFilter: {
                    visible: true,
                },
                paging: {
                    enabled: true,
                    pageSize: 10
                },
                export: {
                    fileName: "",
                    proxyUrl: "",
                },
                scrolling: {
                    columnRenderingMode: "virtual"
                },
                sorting: {
                    mode: 'multiple'
                },
                filterRow: {
                    visible: false,
                    applyFilter: "auto"
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: "Filtrar..."
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 25, 50, 100],
                    showNavigationButtons: true,
                    showInfo: true
                },
                rowAlternationEnabled: false,
                remoteOperations: false,
                groupPanel: {
                    visible: true
                },
                columns: [
                    {
                        caption: "Company",
                        dataField: "group_d_name",
                        alignment: "left",
                        width: "auto",
                        cssClass: "alignment-center text-uppercase",
                    },
                    //{
                    //    caption: "GL Account",
                    //    dataField: "gl_account",
                    //    alignment: "left",
                    //    minWidth: 200,
                    //    cssClass: "alignment-center text-uppercase",
                    //},
                    {
                        caption: "D10",
                        minWidth: 200,
                        dataField: "d10",
                        alignment: "right",
                        width: "auto",
                        dataType: "number",
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        },
                        cssClass: "alignment-center text-uppercase",
                    },
                    {
                        caption: "D20",
                        dataField: "d20",
                        alignment: "right",
                        width: "auto",
                        minWidth: 200,
                        dataType: "number",
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        },
                        cssClass: "alignment-center text-uppercase",
                    },
                    {
                        caption: "D25",
                        dataField: "d25",
                        alignment: "right",
                        width: "auto",
                        minWidth: 200,
                        dataType: "number",
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        },
                        cssClass: "alignment-center text-uppercase",
                    },
                    {
                        caption: "D30",
                        minWidth: 200,
                        dataField: "d30",
                        alignment: "right",
                        width: "auto",
                        dataType: "number",
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        },
                        cssClass: "alignment-center text-uppercase",
                    },
                    {
                        caption: "D40",
                        dataField: "d40",
                        alignment: "right",
                        width: "auto",
                        dataType: "number",
                        minWidth: 200,
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        },
                        cssClass: "alignment-center text-uppercase",
                    },
                    {
                        caption: "D50",
                        dataField: "d50",
                        minWidth: 200,
                        alignment: "right",
                        width: "auto",
                        dataType: "number",
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        },
                        cssClass: "alignment-center text-uppercase",
                    },
                    {
                        caption: "D60",
                        dataField: "d60",
                        minWidth: 200,
                        alignment: "right",
                        width: "auto",
                        dataType: "number",
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        },
                        cssClass: "alignment-center text-uppercase",
                    },
                    {
                        caption: "D70",
                        dataField: "d70",
                        alignment: "right",
                        minWidth: 200,
                        width: "auto",
                        dataType: "number",
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        },
                        cssClass: "alignment-center text-uppercase",
                    },
                    {
                        caption: "D80",
                        dataField: "d80",
                        alignment: "right",
                        minWidth: 200,
                        width: "auto",
                        dataType: "number",
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        },
                        cssClass: "alignment-center text-uppercase",
                    },
                    {
                        caption: "D90",
                        minWidth: 200,
                        dataField: "d90",
                        alignment: "right",
                        width: "auto",
                        dataType: "number",
                        format: {
                            type: "fixedPoint",
                            precision: 2
                        },
                        cssClass: "alignment-center text-uppercase",
                    },
                ],
                width: '100%',
            }).dxDataGrid('instance');
        }

        function consultar_period_by_year(year) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("ConsultarPeriodByYear", "Consulta")",
            dataType: "JSON",
            data: {
                year: year
            },
            beforeSend: function(data) {
                //console.log(data)
                $("select[name='cbo_period']").attr("disabled", true);
            },
            error: function(data) {
                console.log(data)
            },
            success: function(data) {
                //console.log(data);
            },
            complete: function (result) {

                var html = "<option selected value=''>Elegir una opción</option>";

                $("select[name='cbo_period']").html(html);

                if (result.responseJSON != null) {

                    var data = result.responseJSON;

                    $.each(data.listado, function(index, element) {
                        html += "<option value='" + element + "'>" + element +
                            "</option>";
                    });
                }

                $("select[name='cbo_period']").html(html);

                $("select[name='cbo_period']").attr("disabled", false);
            }
        })
    }
    </script>
}